
body {
    background-color: #faf7f9 !important;
    overflow-x: hidden;
}


.container {
    margin:auto;
}
.banner {
    width:250px;
    display: inline-block;
}

.bannercent{
    background-color: #f7a5bb;
}

.space {
    margin-bottom:60px;
}
.center {
    position:center;
}
.font {
    font-family:"noto sans" !important;
}
.fontcolor{
    color:#946968 !important;
}
.navcolor{
    color:#e18aaa !important;
}

.nav{
    background-color: #efcfd4 !important;
    font-family: "noto sans";
}
.marinabunny{
    color:#c29897 !important;
    font-weight: bold;
}
p {
    color:#946968;
    font-family:"noto sans";
}

.pinkcolor {
    color:#ffadad !important;
}

.navcolor:hover{
    color:#ffffff !important;
}
.link {
    color:#ffadad;
}
.link:hover {
    color:#ffadad;
}
.large-img1 {
    background-image: url("../img/model1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height:400px;
    position:relative;
    position:center;
}
.tint {
    background-color:rgba(0,0,0,0.50);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.large-img-caption {
    position:absolute;
    width:100%;
    height:60px;
    line-height:60px;    
    text-align:center;
    top:50%;
    margin-top:-30px;
    font-size:50px;
    color:white;
    font-family:"playfair display"; 
}


.carousel .item {
  height: 300px;
}

.item-img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.btn-primary {
    background-color: #e4a0b7 !important;
    border-color: #e4a0b7 !important;
}

.border {
    border-style: solid;
    border-width: 2px;
    border-color: indianred;
    padding: 10px;

}

#productlabel{
    
}




h2 {
    color:#e4a0b7;
    font-family:"playfair display"; 
    text-align: center;
    
}

p {
    text-align: justify;
}
h4 {
    color:#ffadad;
    font-family:"playfair display"; 
}

h5 {
    font-family: "noto sans";
}


.card {
    margin: auto;
    display: inline-block !important;
    
}


.prodid {
    margin: auto;
}

.hidden {
    display:none;
}

.visible {
    display:block;
}

.side-pic {
    width:100%;
    text-align: center;
    align-content: center;
    height:390px;
    width:390px;
    display: inline-block !important;
}

.homecenter {
    text-align: center;
    margin: 50px;
    align-content: center;
    display: flex !important;
    justify-content: center;
}
.prodcenter1 {
    text-align: center;
    margin: 50px;
    align-content: center;
    display: flex !important;
    justify-content: center;
}
.prodcenter2 {
    text-align: center;
    margin: 50px;
    align-content: center;
    display: flex !important;
    justify-content: center;
}


.homecenter2 {
    text-align: center;
    margin: 50px;
    align-content: center;
display: flex !important;
    justify-content: center;
}

.formstyle {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}








}

.space {
	height:500px;
}

.message {
	background-color: #efcfd4;
	width: 300px;
	height: 300px;
	line-height: 300px;
	margin: auto;
	text-align: center;
	transition: transform 1s;
}
